html,
body {
  width: 100vw;
  height: 100vh;
}

:root {
  font-family: sans-serif;
  font-weight: 400;
  font-size: var(--font-medium);
  background-color: var(--bg);

  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --white: #ffffff;
  --bg: #f5f0f0;
  --gray: #666;
  --blue: #1e88e5;
  --black: #000;

  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-border: #e0e0e0;
  --color-skeleton: #e0e0e0;

  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 24px;
  --font-extra: 48px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
