:root {
  font-family: sans-serif;
  font-weight: 400;
  font-size: var(--font-medium);
  background-color: var(--bg);

  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --white: #ffffff;
  --bg: #f5f0f0;
  --gray: #737373;
  --blue: #556ab5;

  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 24px;
  --font-extra: 48px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
