html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl {
  display: block;
}
dt,
dd {
  display: block;
}
